body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    margin-bottom: 50px;
}

.form-container {
    margin: auto;
    width: 50%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    border-radius: 5px;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin: 5px 0;
}

.form-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #45a049;
}

.form-container p, .form-container span {
    text-align: center;
    margin-top: 10px;
}

.form-container a {
    color: #4CAF50;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}

.alert {
    margin-bottom: 20px;
}
